/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    line-height: 1em;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: "Mukta", Arial, sans-serif;
    background-color: black; 
}

/* General Styling for Headings */
h1, h2 {
    font-family: "Bebas Neue", sans-serif;
    line-height: 1.1;
    font-weight: 100;
}

h1 {
    font-size: 4.4rem;
    margin-bottom: 2rem;
    color: #ffffff;
    font-family: "Bebas Neue", sans-serif;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-family: "Bebas Neue", sans-serif;
    color: #ffffff;
}

/* Paragraph Styling */
p {
    font-family: "Mukta", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 1.8rem;
    font-style: normal;
    color: #ffffff;
}

/* Main Content Wrapper */
main {
    max-width: 960px;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 50px;
    background: black;

    /* Added styles for max width and centering */
    max-width: 960px;
    margin: 0 auto; 
}

/* Image styling */
.image {
    flex: 1;
}

.image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    justify-content: flex-start;
    padding-bottom: 30px;
}

/* Landing page */
.landing {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Slideshow Container */
.slideshow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: slideshow 9s infinite;
}

.slide:nth-child(1) {
    animation-delay: 0s;
}

.slide:nth-child(2) {
    animation-delay: 3s;
}

.slide:nth-child(3) {
    animation-delay: 6s;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Slideshow Animation */
@keyframes slideshow {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    33.33% {
        opacity: 1;
    }
    43.33% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/* Container for Centered Text */
.container {
    position: relative;
    z-index: 1;
    padding: 20px;
    border-radius: 10px;
    color: white;
    max-width: 960px;
    margin: 0 auto; 
}

.container h1 {
    font-family: "Bebas Neue", Georgia, 'Times New Roman', Times, serif;
    font-size: 4.4rem;
    margin: 0;
}

/* Image hover */
.image-hover {
    position: relative;
    width: 100%; 
    max-width: auto; 
    overflow: hidden; 
    margin: 0 auto; 
}

.section .image {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    width: 100%; 
}

.image-hover img {
    width: 100%;
    display: block; 
    transition: opacity 0.5s ease; 
}

.image-hover .hover-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; 
}

.image-hover:hover .hover-image {
    opacity: 1; 
}

.image-hover .default-image {
    display: block;
}







